.spotify {
    position: fixed;
    bottom: 25px;
    right:20px;
    z-index: 9999;
}
*{ margin: 0; padding: 0;}

fieldset{
display: flex;
flex-direction: column;margin: 50px 0;
input{font-size: 1rem;padding: 10px; ;}
}

form{ background-color: rgba(89, 69, 123, 0.75) ;width: 50%;max-width: 1000px; margin: 0 auto;

}

input{
    font-;font-size: 1rem;color: rgba(60, 40, 95, 0.75); padding: 15px; border-radius: 20px;
}
input:hover {background-color: #D6B5E2 ; color: #1e3666;
   scale: 1;}



.centrado{
    display: flex; justify-content: space-evenly;
}

label{ font-size: 1rem;padding: 10px}

.titulocumple{
text-align: center;color:white ;
}

body{
    background-image: url(imagenes/fondo-suzume-y-silla-violeta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;color: white;
   }
.fot{ color: black;

}