*{ margin: 0; padding: 0;}

fieldset{
display: flex;
flex-direction: column;margin: 50px 0;
input{font-size: 1rem;padding: 10px; color: white;}
}

form{ background-color: rgba(89, 69, 123, 0.75) ;width: 50%;max-width: 1000px; margin: 0 auto;

}

input{
    font-size: 1rem;color: white; padding: 15px;
}


.centrado{
    display: flex; justify-content: space-evenly;
}

label{ font-size: 1rem;padding: 10px}

.titulocumple{
text-align: center;color:white ;
}

body{
    background-image: url(imagenes/fondo-suzume-y-silla-violeta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
   }
