*{ margin: 0; padding: 0;}

fieldset{
display: flex;
flex-direction: column;
input{font-size: 2rem;padding: 10px;

}
}

form{ background-color: rgba(89, 69, 123, 0.75) ;width: 50%;max-width: 1000px; margin: 0 auto;

}

.titulocumple{
text-align: center;
}

body{
    background-image: url(imagenes/fondo-suzume-y-silla-violeta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
   }
