body{
    background-image: url(imagenes/Fondo-puerta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
  
}
.contenedor {
    display: flex;
    justify-content: center;  align-items: center;  gap: 40px;                
    padding: 40px;}

.gatospng {
    width: 300px;
    height: auto;
}

.gracias {
    font-size: 2rem;
    text-align: center;
    color: white;
}