body{
    background-image: url(imagenes/Fondo-puerta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
  
}
.gracias{ text-align: center;color: white

}
.gatospng{
    margin: 0; height: auto;display: block;  width: 50%
}
