.spotify {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;animation: popIn 0.5s ease-out;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.navheader {
    display: flex;
    align-items: center;
    justify-content: space-between; 
   padding: 10px 20px}
.nombre {
    display: flex;
    align-items: center;
}
.contenido {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 0;
}

.columna-img img {
    max-height: 600px;     border-radius: 20px;
}

.columna-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columna-video iframe.video {
    width: 560px;  
    height: 315px;
    border-radius: 20px;
}

.descripcion {
    width: 560px;              
    margin-top: 20px;
    background-color: rgba(89, 69, 123, 0.75);  margin-top: 25px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: "Fira Sans", sans-serif;
    max-height: 260px;  overflow-y: auto; }


.video-container{ display: flex; justify-content: center; margin: 20px;border-radius: 20px;

}
.video { border-radius: 20px;}

.imagenprincipal{display: flex;border-radius: 20px;margin: 10px;justify-content: center;
}

.divheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
  margin-top: 150px; 
}
    

.fot {
    background-color: #D6B5E2;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center; 
    text-align: center;     
}
.fot p {
    margin: 0;
    padding: 0;
}


.boton {
    color: white;
    padding: 10px 15px;
    background-color: #5A4A78;
    border-radius: 10px;
    text-decoration: none;transition: all linear 1;
}
.boton:hover{background-color: #D6B5E2 ; color: #1e3666;
   scale: 1;

}


.navmenu {
    display: flex;
    gap: 20px; }
  
.logo-suzume { height: 80px;    width: auto;}

 
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


nav {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: #1e3666; 
}


body{
    background-image: url(imagenes/Fondo-puerta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
    margin: 0;
    padding: 0;
}

p{
font-size: 20px;
}
header{
    background-color: #1E3666;color: white;
}
footer{
    background-color: #D6B5E2;width: 100%;display: block;
}