.navheader {
    display: flex;
    align-items: center;
    justify-content: space-between; 
   padding: 10px 20px}
.nombre {
    display: flex;
    align-items: center;
}

.divheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    main {
  margin-top: 150px; 
}

    
}
.fot {
    background-color: #D6B5E2;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center; 
    text-align: center;     
}
.fot p {
    margin: 0;
    padding: 0;
}


.descripcion{
    color: white;background-color: #59457B; border: none; border-radius: 20px;font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;margin: 0 5% 10px;
}
.imagenprincipal{
    display: block ;margin: 200px;border-radius: 20px;
}
.boton {
    color: white;
    padding: 10px 15px;
    background-color: #5A4A78;
    border-radius: 10px;
    text-decoration: none;
}
.navmenu {
    display: flex;
    gap: 20px; }


.logo-suzume { height: 80px;    width: auto;}

 
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


nav {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: #1e3666; 
}


body{
    background-image: url(imagenes/Fondo-puerta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
    margin: 0;
    padding: 0;
}

p{
font-size: 20px;
}
header{
    background-color: #1E3666;color: white;
}
footer{
    background-color: #D6B5E2;width: 100%;display: block;
}