
.bloqueprincipal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 90%;
    margin: 60px auto;
}
.paneltexto {
    display: flex;
    flex-direction: column;
    gap: 30px;}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;  gap: 30px;
   display: flex;}

.galeria { display: grid;
    grid-template-columns: repeat(2, 1fr);gap: 20px;}

.galeria img { width: 100%;
    aspect-ratio: 1 / 1; 
    border-radius: 20px;
    object-fit: cover;}

.cajatexto {  background-color: rgba(89, 69, 123, 0.75); padding: 20px; border-radius: 15px; color: white; }

body{
    background-image: url(imagenes/fondo-suzume-y-souta-violeta.jpg);background-repeat: no-repeat no-repeat;background-size: cover;background-attachment: fixed;
}
section{
    color: white;
}
main{font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;;font-size: 20px;
}
