.infopeli{
  width: 560px;              
    margin-top: 20px;
    background-color: rgba(89, 69, 123, 0.75);  margin-top: 25px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: "Fira Sans", sans-serif;
    max-height: 260px;  overflow-y: auto; 
}
.productor { width: 560px;              
    margin-top: 20px;
    background-color: rgba(89, 69, 123, 0.75);  margin-top: 25px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: "Fira Sans", sans-serif;
    max-height: 260px;  overflow-y: auto; }

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr); gap: 20px; width: 500px; }

.galeria img {
    width: 100%;
    height: auto;
    border-radius: 20px; object-fit: cover; }

body{
    background-image: url(imagenes/fondo-suzume-y-souta-violeta.jpg);background-repeat: no-repeat no-repeat;background-size: cover;background-attachment: fixed;
}
section{
    color: white;
}
main{font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;;font-size: 20px;
}
