
.imagen1{display: block ;margin: 0 auto; border-radius: 20px;

}
body{
    background-image: url(imagenes/fondo-suzume-y-souta-violeta.jpg);background-repeat: no-repeat no-repeat;background-size: cover;background-attachment: fixed;
}
section{
    color: white;
}
main{font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;;font-size: 20px;
}
