
.cajatarjeta{display: flex;flex-direction: row; margin: 30px 30px ;
    ;justify-content: center; gap: 20px; padding: 10px;
}
.tarjeta{
    
    background-color: #59457B;width: 20%; border-radius: 20px;
    text-align: center;
img{ width: 50%;align-items: center; padding: 15px;}

.titulopremio{
     text-align: center;
    width: 100%;
}
  

body{
    background-image: url(imagenes/fondo-daijin-2-violeta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
}
main{
    color: white;font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;;font-size: 20px;
}