
 h1 { font-size: 5rem;
  line-height: 5rem;}
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
        
body{
    background-image: url(imagenes/fondo-suzume-violeta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
}
main{
    color: white;font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;font-size: 20px;
}