
.cajatarjeta{display: flex;flex-direction: row; margin: 30px 30px ;
    ;justify-content: center;gap: 20px; cursor: pointer;perspective: 1000px;
}
.tarjeta{
    
    background-color: #59457B;width: 20%; border-radius: 20px;
    text-align: center;position: relative;  transition: transform 0.6s;
  transform-style: preserve-3d;

 img{ width: 60%;align-items: center; padding: 20px; margin-left: 10px;margin-right: 10px;}
  
}
.caja tarjeta:hover .tarjeta {
  transform: rotateY(180deg);
}

.tarjetafront,
.tarjetaback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.tarjetafront {
  background: #59457B;
  border: 1px solid #D6B5E2;
}

.tarjetaback {
  background: #D6B5E2;
  color: black;
  transform: rotateY(180deg);
}


.protagonistas{
    border-radius:25px;
}
body{
    background-image: url(imagenes/fondo-Daijin-violeta.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
}
main{
    color: white;font-size: 20px;font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}